@font-face {
  font-family: 'elan-regular';
  src: url('./assets/elan-regular.ttf');
}

body {
  margin: 0;
}

* {
  font-family: 'elan-regular';
  box-sizing: border-box;
}

#title {
  font-weight: bold;
  font-size: 50px;
  margin-top: 75px;
  margin-bottom: 25px;
  letter-spacing: 5px;
}

#main-link {
  display: block;
  color: white;
  background: #353535;
  padding: 10px;
  border-radius: 10px;
  border: solid #353535 2px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  margin: 10px;
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: 5px;
}

#sub-link {
  display: block;
  color: #353535;
  padding: 10px;
  border-radius: 10px;
  border: solid #353535 2px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  margin: 10px;
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: 5px;
}

img#banner {
  width: 450px;
}

@media (max-width: 600px) {
  #index {
    margin-left: 0;
  }

  #title {
    font-size: 25px;
  } 

  img#banner {
    width: 100%;
  }

  .flex-center.link {
    flex-direction: column;
  }
}

main.notfound h1 {
  text-align: center;
  font-size: 100px;
  letter-spacing: 10px;
  margin-block-start: 25px;
  margin-block-end: 25px;
  color: #404040;
}

main.notfound h2 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 2.5px;
  color: #505050;
}

main.notfound img {
  margin-bottom: 50px;
  border-radius: 10px;
  max-width: 300px;
}

main.notfound a {
  color: #15d487;
  padding: 10px;
  border-radius: 10px;
  border: solid #15d487 2px;
  text-decoration: none;
  text-align: center;
  width: 200px;
}

main.notfound a:hover {
  color: white;
  background: #15d487;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.divider {
  background: #454545;
  height: 2.5px;
  width: 250px;
  border-radius: 50px;
}